/target
/scripts/target/
__pycache__/
.idea
*.iml
.env
config.json
.stignore
.stfolder
/db/sled/
/docker/volumes/pgdata/
tools/stat-calc/node_modules/
dep.graph
graph.png
.vs
.claude/settings.local.json
